html {
    margin: 0;
    padding:0;
    background-color: rgb(10, 51, 185);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(17, 17, 240);
}
h2 {
color:red;
font-weight: heavy;
}
body {
    width:60%;
    margin:0 auto;
    font: 100% georgia,sans-serif;
    padding:2em 100px;
    background: whitesmoke;
    border-bottom: 10px solid rgb(6, 253, 6);
}
h1 {
    font-family: Georgia,"times New Roman",serif;
    font-size:5em;
    font-weight:normal;
    font-style: italic;
    background: rgb(0, 0, 0);
    color:  rgb(25, 212, 66);
}
h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,"times New Roman",serif;
    font-size:3em;
    font-weight:normal;
    font-style: italic;
    background: rgb(214, 229, 245);
    color:  rgb(48, 16, 231);
}
h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,"times New Roman",serif;
    font-size:4em;
    font-weight:normal;
    font-style: italic;
    background: rgb(255, 255, 255);
    color:  rgb(0, 0, 0);
}
p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,"times New Roman",sans-serif;
    line-height: 1.6;
    text-align: justify;
    width:60%;
    margin:0;
    margin-bottom:1em;
    }
    a:hover {
        color: rgb(120, 97, 55);
    }
    pre {
        font-size: 1.4em;
        color: white;
        padding: .5em 1em;
        border-left: 1em solid #A68048;
        background: #666;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        width: 80%;
    }
    pre.wrong {
        border-left-color: red;
    }
    pre.correct {
        border-left-color: green;
    }